
body {
    overflow: auto;
    background: #eee;
}

#wrapper {
    width: 87%;
    height: 87%;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 1px auto;
    background: #fff;
    border-radius: 0 5px 5px 0;
}

#area {
    width: 95%;
    height: 95%;
    margin: -5px auto;
    -moz-box-shadow:      inset 10px 0 20px rgba(0,0,0,.1);
    -webkit-box-shadow:   inset 10px 0 20px rgba(0,0,0,.1);
    box-shadow:           inset 10px 0 20px rgba(0,0,0,.1);
    padding: 10px 10px;
}


