<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://java.sun.com/JSP/Page">
    <name>Reader</name>
    <description>
       Reader app
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Mahesh
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-fullscreen" />
    <plugin name="cordova-plugin-file" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-sqlite-storage" spec="~2.0.2" />
    <plugin name="cordova-plugin-armsoft-mfilechooser-nancydrew" spec="https://github.com/nancydrew123/MFileChooser" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.6.1" />
    <plugin name="cordova-plugin-tts" spec="~0.2.3" />
    <plugin name="com.megster.cordova.FileChooser" spec="http://github.com/don/cordova-filechooser.git" />
    <plugin name="cordova-plugin-filepath" spec="~1.0.2" />
    <plugin name="cordova-plugin-android-permissions" spec="~0.10.0" />
    <plugin name="cordova-plugin-zip" spec="~3.1.0" />
    <plugin name="org.apache.cordova.speech.speechrecognition" spec="https://github.com/macdonst/SpeechRecognitionPlugin">
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value=" " />
        <variable name="SPEECH_RECOGNITION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <plugin name="cordova-plugin-email-composer" spec="^0.8.4">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.1.4" />
</widget>
