<% include partials/head %>
<div style="margin-top: 5%; min-height: 200px;">
    <h3>Welcome!</h3>
    <ul>
        <li><a href="/instructor/students/">Students</a></li>
        <li><a href="/instructor/books/">Books</a></li>
        <li><a href="/instructor/vote/">Word Meanings Pending for voting</a></li>
        <li><a href="/instructor/votes/">Your Votes History</a></li>
    </ul>
</div>
<% include partials/foot %>