<% include partials/head %>
<div style="margin-top: 5%; min-height: 200px;">
    <h3>Welcome!</h3>
    <ul>
        <li><a href="/instructor/students/">Students</a></li>
        <li><a href="/instructor/vote/">Meaning Votes</a></li>
    </ul>
</div>
<% include partials/foot %>