<% include partials/head %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Student ID</th>
        <th scope="col">Voted words</th>
        <th scope="col">Lookedup words</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < students.length; i++) { %>
      <tr>
        <th scope="row"><%= students[i].id %></th>
        <td><a href="/instructor/student/voted/<%= students[i].id %>">View Data</a></td>
        <td><a href="/instructor/student/lookedup/<%= students[i].id %>">View Data</a></td>
      </tr>
      <% } %>
    </tbody>
  </table>



<% include partials/foot %>