

#mydiv {

    width: 100%;
    margin: 3vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or space-around */
}

.valign{
    vertical-align: middle;
}

/*.box {*/
    /*display: inline-block;*/
    /*margin-bottom: 12px;*/
    /*!*width: calc(50% - 4px);*!*/
    /*width: 15vh;*/
    /*height: 25vh;*/
    /*text-decoration: none;*/
    /*!*background-color: lightblue;*!*/
/*}*/

.frame{
    position:relative;
    padding:0;
    /*margin:0;*/
    border:solid 0.6vh #555;
    width: 25vw;
    height: 25vh;
    line-height: 25vh;
    margin-bottom: 3vh;
    background-color: white;
    /*max-width:600px;*/
    /*margin:40px auto;*/
    box-shadow:-.3vh -.3vh 1vh #999;
    overflow-y: scroll;

}

/*.frame img{*/
    /*max-width: 20vw;*/
    /*max-height: 100%;*/
/*}*/

/*.nextDiv{*/
/*font-family: FANTASY;*/
    /*font-weight:800;*/
/*}*/
.innerText{
    /*overflow-y:scroll;*/
    /*vertical-align: middle;*/
    /*align-content: center;*/
    /*padding: 10%;*/
    font-family: cursive;
    font-weight: bold;

    /*display:flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    width:100%;
    position: absolute;
    text-align: center;
    padding-top:40%;
    /*-webkit-transform: translateY(-50%); !* child now centers itself relative to the midline based on own contents *!*/
    /*-moz-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    /*-ms-filter: 'progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0)'; !*IE8 *!*/
    /*filter: progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0); !*IE6, IE7*!*/
    /*transform: translateY(-50%);*/
}
/*.border{*/
    /*position:relative;*/
    /*padding:0;*/
    /*margin:0;*/
    /*border:solid 2vh white;*/
    /*box-shadow:-.3vh -.3vh 1vh #999;*/
/*}*/




